<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UI5TypeScriptGeneratorJsonGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <UI5TypeScriptGeneratorJsonGUI.Properties.Settings>
            <setting name="TypeReplacements" serializeAs="String">
                <value>* : any
any[] : any[]
array : any[]
Array : any[]
array.&lt;array.&lt;string&gt;&gt; : string[][]
arraybuffer : any
bAlwaysShow : boolean
blob : any
Boolean : boolean
CalendarAppointment : any
Control : sap.ui.Core.Control
createDefaultContent : any
date : any
Date : any
DomNode : any
DOMNode : any
domRef : any
DomRef : any
DOMRef : any
DomRef[] : any[]
element : any
Element : any
Element[] : any[]
EntityType : any
Error : any
event : any
float : number
function : any
Generator : any
HTMLElement : any
int : number
int[] : number[]
integer : number
jQuery : any
jQuery.promise : any
jQuery.sap.log : any
jQuery.sap.util.ResourceBundle : any
ManagedObjectMetadata : any
map : any
Map : any
MenuButton : any
null :
Number : number
Number[] : number[]
objec : any
object : any
Object : any
object[] : any[]
ObjectNumber : number
oWindow : any
P13nConditionOperation[] : any[]
Promise : any
qunit : any
regexp : string
sap.m.DynamicSideContent : sap.ui.layout.DynamicSideContent
sap.ui.base.ManageObject : sap.ui.base.ManagedObject
sap.ui.Core.Control : sap.ui.core.Control
sap.ui.core.Controller : sap.ui.core.mvc.Controller
sap.ui.core.InvisibleControl : any
sap.util.Properties : any
ScrollEnablement : sap.ui.core.delegate.ScrollEnablement
sting[] : string[]
String : string
string[] : string[]
String[] : string[]
TablePersoController : any
TablePersoDialog : any
TabStripItem : any
Touch : any
TouchList : any
true : boolean
UI5EntityCueCardStyle : any
undefined : any
Window : any</value>
            </setting>
            <setting name="RestEndpoints" serializeAs="String">
                <value>sap/m/designtime/api.json
sap/tnt/designtime/api.json
sap/ui/commons/designtime/api.json
sap/ui/core/designtime/api.json
sap/ui/demokit/designtime/api.json
sap/ui/dt/designtime/api.json
sap/ui/layout/designtime/api.json
sap/ui/suite/designtime/api.json
sap/ui/table/designtime/api.json
sap/ui/unified/designtime/api.json
sap/ui/ux3/designtime/api.json
sap/uxap/designtime/api.json</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ServiceAddress" serializeAs="String">
                <value>https://openui5.hana.ondemand.com/test-resources</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.40</value>
            </setting>
            <setting name="TypeDefinitions" serializeAs="String">
                <value>sap.ui.core.BusyIndicator : Ui5Enum
sap.ui.core.Collision : string
sap.ui.core.CSSSize : string
sap.ui.core.Dock : string
sap.ui.core.ID : string
sap.ui.core.Popup.Dock : string
sap.ui.core.URI : string
sap.ui.core.ws.ReadyState : Ui5Enum
sap.ui.layout.BlockBackgroundType : Ui5Enum
sap.ui.layout.form.GridElementCells : string|number
sap.ui.layout.GridIndent : string
sap.ui.layout.GridSpan : string
sap.ui.model.analytics.odata4analytics.SortOrder : Ui5Enum
sap.ui.model.BindingMode : Ui5Enum
sap.ui.model.FilterType : Ui5Enum
sap.ui.model.odata.CountMode : Ui5Enum
sap.ui.suite.TaskCircleColor : string</value>
            </setting>
        </UI5TypeScriptGeneratorJsonGUI.Properties.Settings>
    </userSettings>
</configuration>