<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UI5TypeScriptGeneratorJsonGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <UI5TypeScriptGeneratorJsonGUI.Properties.Settings>
            <setting name="TypeReplacements" serializeAs="String">
                <value>object : any
function : any
int : number
Map : any
undefined : 
true : boolean
null : </value>
            </setting>
            <setting name="RestEndpoints" serializeAs="String">
                <value>sap/m/designtime/api.json
sap/tnt/designtime/api.json
sap/ui/commons/designtime/api.json
sap/ui/core/designtime/api.json
sap/ui/demokit/designtime/api.json
sap/ui/dt/designtime/api.json
sap/ui/layout/designtime/api.json
sap/ui/suite/designtime/api.json
sap/ui/table/designtime/api.json
sap/ui/unified/designtime/api.json
sap/ui/ux3/designtime/api.json
sap/uxap/designtime/api.json</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ServiceAddress" serializeAs="String">
                <value>https://openui5.hana.ondemand.com/test-resources</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.40</value>
            </setting>
        </UI5TypeScriptGeneratorJsonGUI.Properties.Settings>
    </userSettings>
</configuration>